.TabMenuI{
	margin:0;
	padding:0;
	font:bold 11px 1.5em Verdana;
}
.TabMenuI h2{
	font:bold 14px Verdana Arial Helvetica sans-serif;
	color:rgb(0, 0, 0);
	margin:0px;
	padding:0px 0px 0px 15px;
}
.TabMenuI .tabsI{
	float:left;
	width:100%;
	background:rgb(239, 244, 250);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(221, 116, 11);
}
.TabMenuI .tabsI ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenuI .tabsI li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenuI .tabsI a{
	float:left;
	background:url(tableftI.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	text-decoration:none;
}
.TabMenuI .tabsI a span{
	float:left;
	display:block;
	background:url(tabrightI.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenuI .tabsI a span{
	float:none;
}
.TabMenuI .tabsI a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenuI .tabsI a:hover{
	background-position:0% -42px;
}
.TabMenuI .tabsI a:hover span{
	background-position:100% -42px;
}
.TabMenuI .tabsI .current a{
	background-position:0% -42px;
}
.TabMenuI .tabsI .current a span{
	background-position:100% -42px;
}
