.ac_results{width: 400px;cursor: pointer;border: solid 1px silver;}
.ac_results ul{list-style: none;margin: 0;padding: 0;}
.ac_results ul li{padding-left: 7px;}
.ac_results ul li.ac_even{background-color: silver;}
.ac_results ul li.ac_over{background-color: #7B6F6F;}
.messagelist{}
.MessageListTitle button{font-size: 13px;float: right;position: relative;top: -13px;}
.main-back{padding:10px 12px;margin:9px 0;right;background: url("../icons-2/fugue/bonus/icons-24/arrow-180.png") no-repeat scroll 3px -1px beige;}
.messagelist th{border: solid 1px #BBBBBB;}
.messagelist td{vertical-align: top;}
.messagelist tr{cursor: pointer}
.messagelist tr:hover, .messagelist tr.odd:hover{background: gray}
.messagelist tr.odd{background: #F3F3F3}
.MessageListTitle{ -moz-border-radius: 4px 4px 4px 4px;
-moz-box-shadow: 1px 1px 16px #333333;
background: none repeat scroll 0 0 steelBlue;
margin: 0;
padding: 10px;}
.thumbnails ul{list-style: none;}
.thumbnails ul li{float: left;margin: 5px;background-color: gray;padding: 5px;}
.thumbnails ul li img{width: 50px;height: 50px;margin: 0;padding: 0;}
.accountinfo fieldset h5{margin:5px;}
.accountinfo fieldset textarea{margin:5px;height: 50px;width: 350px}
.accountinfo fieldset input{margin:5px;width: 350px}
.accountinfo fieldset select{margin:5px}
.ui-warning{position: absolute;top: 3px;right: 10px;width: 340px;z-index: 3000;}
.ui-warning span{float: left;margin-right: 0.3em;}
.ui-warning div{padding: 0pt 0.7em;margin-top: 20px;}
.actions div{background-repeat: no-repeat; height: 31px; border: 1px solid silver; background-position: 4px 2px; width: 24px; cursor: pointer; float: left; margin: 2px;}
.explorer .small-icon{width:48px;height:48px;background:url("../castafiore/resource?spec=classpath:org/castafiore/resource/icons/large/folder.gif") no-repeat scroll 0 50% transparent}
.explorer td{vertical-align:middle}
.explorer .open td{vertical-align:top}
a.small-add{background-image:url("../icons/delete.png");background-repeat:no-repeat;color:sienna;font-weight:bold;padding-left:18px;margin-right:18px;}
body{background: none repeat scroll 0 0 #2C609B;font: 12px "Segoe UI",Tahoma,sans-serif;}
.ex-window {-moz-border-radius: 8px 8px 8px 8px;-moz-box-shadow:0 2px 16px #000000, 0 0 1px #000000, 0 0 1px #000000;-webkit-box-shadow:0 2px 16px #000000, 0 0 1px #000000, 0 0 1px #000000;background: none repeat scroll 0 0 rgba(178, 215, 255, 0.75);left: 253.3px;position: absolute;top: 50px;width: 800px;}
.ex-window .accountinfo fieldset{-moz-border-radius:2px 2px 2px 2px;-moz-box-shadow:0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;-webkit-box-shadow: 0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #000000;padding: 10px;text-shadow: none;}

.fieldset{background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #AAAAAA;
-moz-border-radius: 2px 2px 2px 2px;
-moz-box-shadow:0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;
-webkit-box-shadow:0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;
box-shadow: 0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;
margin: 0;
padding: 0;
text-shadow: none;}


.ex-window .ex-header{height: 24px;}
.ex-window .ex-header .ex-icon{height: 16px;padding:3px 8px; width: 16px;float: left;}
.ex-window .ex-header .minimize{background-image: url("../icons-2/fugue/icons/minus-white.png");background-position: 0 3px;background-repeat: no-repeat;float: right;height: 16px;margin: 0; padding: 4px; width: 16px;cursor: pointer;}
.ex-window .ex-header .minimize:hover{background-image: url("../icons-2/fugue/icons/minus-small-white.png");}
.ex-window .ex-header h5{padding:2px;cursor: pointer;float: left;margin: 0;text-shadow: 0 0 15px #FFFFFF, 0 0 15px #FFFFFF}
.ex-window .ex-body{padding: 10px;border:none; clear: both;}

.ex-window .ex-body .ex-content{
-moz-border-radius: 2px 2px 2px 2px;
-moz-box-shadow:0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;
-webkit-box-shadow:0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;
box-shadow:0 0 5px #FFFFFF, 0 0 1px #FFFFFF, 0 1px 2px #AAAAAA inset;
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #000000;
padding: 10px;
text-shadow: none;
margin: 0 0 1.5em;
behavior: url(PIE.htc);
}
.ex-window .mall-tab{width:97%}
.ex-window .ex-btn button{float: right;padding: 4px;}

.ex-window .btnCtn button{
display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 11px Arial, Helvetica, sans-serif;
	padding: .2em 1em .275em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.ex-os-bar{position: fixed;bottom: 0px;height: 75px;width: 100%;background:url(bar.png);text-align: center;z-index: 2;}
.ex-os-bar a{padding: 0 6px;position: relative;top: 12px;}
.mall-tab {float:left;width:100%;font-size:93%;line-height:normal;border-bottom:1px solid #84776B;}
.mall-tab .ex-tab-ul[name=tabs] {background: none repeat scroll 0 0 #D3D3D3;list-style: none outside none; margin: 7px;padding: 10px 10px 15px 50px;height: 12px;}
.mall-tab .ex-tab-li {display:inline;margin:0;padding:0;}
.mall-tab .ex-tab-a {float:left;background:url("tableft2.gif") no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none;border-bottom: solid 1px beige;}
.mall-tab .ex-tab-a span {float:left;display:block; background:url("tabright2.gif") no-repeat right top;padding:5px 15px 4px 6px;color:#84776B;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.mall-tab .ex-tab-a span {float:none;}
/* End IE5-Mac hack */
.mall-tab .ex-tab-a:hover span {color:#74675B;}
.mall-tab .ex-tab-a:hover {background-position:0% -42px;}
.mall-tab .ex-tab-a:hover span {background-position:100% -42px;}
.mall-tab .current .ex-tab-a {background-position:0% -42px;}
.mall-tab .current .ex-tab-a span {background-position:100% -42px;}
.TabContent{margin: 18px;}
.ex-body .msr{padding: 0;}
.address{border: solid 1px silver;padding : 5px;font-weight:bold;} 
.ui-os-manager{width: 294px;height: 103px;background-color: #E3E3E3;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;float: left; position: absolute;top: 10px; left: 10px;}
.ui-os-manager .ui-display-image{width: 83px;height: 83px;margin: 10px;background-color: silver;float: left;}
.ui-os-manager .ui-information-box{float: left;height: 83px;margin:10px 10px 10px 3px}
.ui-os-manager .ui-information-box .ui-comp-info{margin-left: 8px;font-size: 11px;font-weight: bold;color:#949393;}
.ui-os-manager .ui-information-box .app-title{font-size: 12px;font-weight:bold;color:#C5815F;}
a[name=logout]{position: absolute;right: 45px;top: 25px;}
div[name=toolBar] button{float: right;background-position: 3px 0px;height: 27px;background-repeat: no-repeat;}
div[name=toolBar] div{width: 40px; float: right; text-align: center; border: 1px solid silver; padding: 4px 10px 3px 7px; margin: 0.7em 0.5em 0.7em 0pt;}
button[name="previousPage"] {background-image: url("../icons-2/fugue/bonus/icons-24/arrow-180.png");padding-left: 17px;}
button[name=nextPage]{background-image: 	url("../icons-2/fugue/bonus/icons-24/arrow.png");padding-right: 17px;background-position: 4px 0px;}
.MessageListTitle img{width: 64px;height: 64px;background-color: white;padding: 0 10px;border: double;cursor: pointer;}
.EXSubCategory{cursor: pointer;}
.EXSubCategory:hover{background-color: beige;}
.icon-button{background: url("../icons/align_center_16.png") repeat scroll 0 0 transparent;height: 18px;width: 18px;float: left;margin: 2px;}
.des-toolbar{border: solid 1px silver;height: 22px;background: wheat;}
.add-button{background: url("../icons-2/fugue/bonus/icons-24/plus.png") repeat scroll 0 0 transparent;height: 26px;width: 26px;margin: 2px;}
.date-type-filter{position: relative; text-align: left !important; width: 157px !important; height: 126px !important; padding: 10px !important;}
.date-type-filter select{width: 150px;}
.worksheet .head div {height: 50px;border-style:solid;border-width : 1px 1px 2px 1px;border-color: #C4D2E4;cursor: pointer;margin: 0;background-color: #EBF3FF;padding: 3px;font-weight: bold;text-align: center;}	
.sp-row div[name=cell], .sp-row div[name=left-margin],.sp-row div[name=right-margin] {border-style:solid;border-width : 1px 1px 1px 1px;border-color: #C4D2E4;cursor: pointer;margin: 0;height: 15px;padding: 3px;}
.sp-row div input{height: 15px;border: none;margin: 0px;padding: 0px;font-size: 12px;color: saddleBrown;}
.sp-row div.selected{border-color: #F0C79D;}
.sp-row div.empty{border-left-width: 1px;}
.sp-row div.empty, .spreadsheet .sp-row div.first-col{background-color: #DCE6F2;text-align: center;font-weight: bold;}
#login-box {width:333px;height: 352px;padding: 58px 76px 0 76px;color: #ebebeb;font: 12px Arial, Helvetica, sans-serif;background: url(images/login-box-backg.png) no-repeat left top;}
#login-box img {border:none;}
#login-box h2 {padding:0;margin:0;color: #ebebeb;font: bold 44px "Calibri", Arial;}
#login-box-name {float: left;display:inline;width:80px;text-align: right;padding: 14px 10px 0 0;margin:0 0 7px 0;}
#login-box-field {float: left;display:inline;width:230px;margin:0;margin:0 0 7px 0;}
.form-login{width: 205px;padding: 10px 4px 6px 3px;margin:0 !important;border: 1px solid #0d2c52 !important;background-color:#1e4f8a !important;font-size: 16px;color: #ebebeb;}
.login-box-options  {clear:both;padding-left:87px;font-size: 11px;}
.login-box-options a {color: #ebebeb;font-size: 11px;}
#os .container{background:none}
.ex-os-bar label{display: block;float: left;font-weight: bold;margin-left: 10px;margin-top: 43px;position: absolute;}
.productcard .slider{width: 530px; height: 300px;float: left;}
.productcard .slider img{width: 500px;height: 280px;margin: 10px 10px;}
.productcard .desc-wrapper{border-bottom: 1px solid #BBBBBB;padding: 10px 0 0 10px;}
.productcard .desc-wrapper h5.loud{padding: 0;margin: 0}
.rta-wrapper table,.rta-wrapper tr, .rta-wrapper td, .rta-wrapper th{padding: 0;margin: 0;}
.oo-btn{display: block;height: 20px;padding: 10px;}
.oo-btn button{margin:0px}
.group-select{float: left;left: -5px;margin: 0;position: relative;top: -2px;width: 150px;}

div#footer {background: none repeat scroll 0 0 #FFFFFF;border: 0 none;clear: both;color: #999999;font-size: 0.9em;line-height: 1.25em;margin: 0 auto !important;padding: 2em 9em 1em !important;text-align: center;width: 640px;}
.cart-title-info{color: beige;font-family: caption;font-size: 14px;font-style: italic;font-weight: bold;}
.accessAid {display: block !important;height: 1px !important;left: -500em !important;line-height: 0 !important;overflow: hidden !important;position: absolute !important;text-indent: -9999em !important;top: 0 !important;width: 1px !important;}
div#footer ul {list-style-type: none; margin: 0.7em 0;padding: 0;}
div#footer ul li {border-right: 1px solid #999999;display: inline;margin: 0;padding: 0 0 0 0.4em !important;}
div#footer ul li a {color: #084482 !important;margin-right: 0.5em;text-decoration: underline;white-space: nowrap;}
.toolbar .pager { height: 20px;width:auto;border: none; }
.toolbar .sorter {}
.toolbar-bottom {}
.toolbar a { color: #808184; }
.toolbar a:hover { text-decoration: underline; }
.pager { padding: 5px 10px;  font-size: 8pt; vertical-align: middle; display: block; line-height: 17px; }
.pager .amount, .pager .view-mode { float: left; margin: 1px 20px 0 0; }
.pager .sort-by { float: left; margin-top: 1px; }
.pager .limiter { float: right; height: 17px; }
.pager .limiter label { vertical-align:middle; }
.pager .limiter select { padding:0; margin:0; vertical-align: middle; font-size: 7pt; border: 1px solid #ddd; }
.pager .pages {  float: right; margin: 1px 0 0 0px; }
.pager .pages ol { display:inline; }
.pager .pages li { display:inline; margin:0 2px; }
.pager .pages li.current { text-decoration: underline; font-weight: bold; }
.pager .pages .current {}
.pager .delimiter { margin: 0 5px; }
/* View Type: Grid */
.products-grid { position:relative; margin: 20px;list-style: none;}
.products-grid.last { border-bottom:0; }
.products-grid li.itema { float:left; width:125px; padding:0 0 74px; margin-right: 8px; text-align: center;cursor: pointer; }
.products-grid .product-image:hover {-moz-box-shadow:5px 5px 5px #333;-webkit-box-shadow:5px 5px 5px #333;box-shadow:5px 5px 5px #333}
.products-grid li.itema.last { margin-right: 0; }
.products-grid .product-image { display:block; width:124px; height:124px; border:1px solid #ddd; margin:0 0 10px; background-color: #fff; }

.products-grid .product-name {font-size: 10px;font-weight: bold;height: 28px;overflow: hidden;}


.products-grid .product-name a { color:#000; text-decoration: none; }
.products-grid .product-name a:hover { text-decoration: underline; }
.products-grid .price-box { margin: 0; }
.products-grid .price-box .price { color: #000; font-size:10px; }
.products-grid .price-box .price .sign { margin-right: 3px; }
.products-grid .availability { line-height:21px; }
.products-grid .actions { position:absolute; bottom:20px; width:124px; }
.cart-widget{padding:0;-moz-box-shadow:5px 5px 5px #333;-webkit-box-shadow:5px 5px 5px #333;box-shadow:5px 5px 5px #333;}
.cart-widget h4.ui-widget-header{padding: 3px;margin: 0;border-bottom:none;}
.cart-widget .product-categories{padding:10px 15px;margin: 0;min-height: 50px;list-style: none;}
.cart-widget .product-categories li{padding: 3px 5px;margin: 3px 0}
.cart-widget .product-categories li span{float: right;}
.search-bar input{
	-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: silver -moz-use-text-color silver silver;
border-image: none;
border-style: solid none solid solid;
border-width: 1px medium 1px 1px;
color: #929497;
float: left;
font: 8pt/19px Tahoma,Geneva,sans-serif;
height: 22px;
margin: 0 0 3px 30px;
outline: medium none;
padding: 0 10px;
width: 425px;
}
.search-bar button{margin: 3px;float: left;};
				
				/* Product Images */
.product-view .product-img-box { float:left; width:225px; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { margin:0 0 10px; border:1px solid #cacaca; }
.product-view .product-img-box .product-image-zoom { position:relative; width:225px; height:225px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { margin:0 0 10px; text-align:center; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:24px; margin:0 auto 13px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8*/ opacity:.3; }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:3px; width:9px; height:18px; background:url(../images/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:10px; top:7px; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:10px; top:7px; }
.product-view .product-img-box .more-views { border-bottom: 1px solid #ddd; }
.product-view .product-img-box .more-views h2 { font-size:10px; font-weight:normal; padding:0 0 2px; border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul { margin-left:-10px }
.product-view .product-img-box .more-views li { float:left; margin:0 0 8px 10px; }
.product-view .product-img-box .more-views li a { float:left; width:66px; height:66px; border:1px solid #ddd; overflow:hidden; }

.product-image-popup { margin:0 auto; }
.product-image-popup .buttons-set { float:right; clear:none; border:0; margin:0; padding:0; }
.product-image-popup .nav { font-weight:bold; margin:0 100px; text-align:center; }
.product-image-popup .image { display:block; margin:10px 0; }
.product-image-popup .image-label { font-size:12px; font-weight:bold; margin:0 0 10px; color:#2f2f2f; }

/* Product Shop */
.product-view { margin-top: 38px; }
.product-view .product-shop { float:right; width:394px; padding-left: 34px; }
.col1-layout .product-view .product-shop { float:right; width:430px; }
.col3-layout .product-view .product-shop { float:none; width:auto; }
.product-view .product-shop .product-name { margin:0 0 5px; }
.product-view .product-shop .product-name h1 { font-weight: bold; font-size: 14pt; }
.product-view .product-shop .availability { margin:10px 0; color: #008142; }
.product-view .product-shop .short-description { margin: 20px 0 10px 0; padding: 20px 0 10px 0; border-top: 1px solid #808184; }
.product-view .product-shop .short-description h2 { color: #008142; font: normal 11pt Verdana, Arial, Helvetica; margin-bottom: 10px; }
.product-view .product-shop .price-box { margin:10px 0; }
.product-view .product-shop .add-to-links { margin:0; font-size: 8pt; }
.product-view .product-shop .add-to-links { text-align: left; }
.product-view .product-shop .add-to-links li {  }

.product-view .product-shop .add-to-links li .separator { display:none !important; }
.product-view .product-shop .product-options-bottom .paypal-logo { float:left; }
.product-view .product-img-box .more-views { border-bottom: 1px solid #ddd; }
.product-view .product-img-box .more-views h2 { font-size:10px; font-weight:normal; padding:0 0 2px; border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul { margin-left:-10px;list-style: none; }
.product-view .product-img-box .more-views li { float:left; margin:0 0 8px 10px; box-shadow:5px 5px 5px #333333;-moz-box-shadow:5px 5px 5px #333333;-webkit-box-shadow:5px 5px 5px #333333}
.product-view .product-img-box .more-views li a { float:left; width:66px; height:66px; border:1px solid #ddd; overflow:hidden; }
.product-view .product-img-box .product-image { margin:0 0 10px; border:1px solid #cacaca; }
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.product-view .product-img-box .more-views h4{font-size: 1.05em;line-height: 1.35;margin-bottom: 0.45em;font-weight: bold;}

.form-list li {margin: 0 0 6px;list-style: none;}
.form-list .field.name-firstname, .form-list .field.left-field {margin-right: 23px;}
.form-list label {color: #808184;font-weight: bold;position: relative;top: 9px;}
.form-list label.required em {color: #EB340A;float: right;font-style: normal;line-height: 12px;position: absolute;right: -7px;top: 0;}
.form-list .input-box {float: right;width: 199px;}
.form-list input.input-text {width: 189px;}
.form-list li.self-wide .input-box {float: right;left: -18px; position: relative;width: 510px;}
.form-list li.self-wide input.input-text {width: 500px;}
.form-list .field {float: left;width: 288px;}

.invoice{margin: 10px 0;color: black;}
.invoice .shopdetails{width: 764px;  float: left;}
.invoice .shopdetails .left{float: left}
.invoice .shopdetails .logo{width: 224px; height: 64px; background-image:url("humy/logo.png"); }
.invoice .shopdetails .contactdetails{float:right; width: 400px;}
.invoice .shopdetails .contactdetails .addressArea{float:left; width: 200px; padding-right: 10px;}
.invoice .shopdetails .contactdetails .otherContact{float: right; width: 150px}
.invoice .shopdetails .businessdetails{margin-top: 10px}
.invoice table{border:solid blue 2px; clear: both; margin-bottom: 0;}
.invoice .delivery{padding: 10px; background:#8C1300; font-weight: bold; color: #FFE4CF; height:270px;}

.nextgeneration .MessageListTitle{display: none;}
.nextgeneration .btnCtn{display: none;}
.nextgeneration .accountinfo fieldset h5{font-weight: normal;margin: 0 5px;}

.nextgeneration ul li a{color: black;}
.nextgeneration ul{list-style: none outside none;margin: 0;padding: 4px; width: 140px}
.nextgeneration h5{border-bottom: medium none;margin: 0;padding: 3px;}
.nextgeneration ul li{margin: 5px;padding: 5px}

.emallfooter{
	background: none repeat scroll 0 0 #333333;
bottom: 0;
height: 32px;
margin: 0;
padding: 0;
position: fixed;
text-align: center;
vertical-align: middle;
width: 100%;
color: white;
}

.emallfooter img{margin: 0 49px;
position: relative;
top: 1px;}



