/* CSS Document for primary links */
.yuimenubar{visibility:visible;position:static;}
.yuimenu .yuimenu,.yuimenubar .yuimenu{visibility:hidden;position:absolute;top:-10000px;left:-10000px;}
.yui-menu-shadow{position:absolute;visibility:hidden;z-index:-1; background:url(images/bg-menu.gif) no-repeat 0 0}

.yuimenubar ul, .yuimenu ul { list-style-type:none;}

.yuimenubar ul, .yuimenu ul, .yuimenubar li, .yuimenu li, .yuimenu h6, .yuimenubar h6 { margin:0; padding:0;}
#productsandservices { overflow:hidden; position:relative; z-index:1;}

.yuimenuitemlabel, .yuimenubaritemlabel { white-space:nowrap;}

.hide-scrollbars * { overflow:hidden;}

.hide-scrollbars select { display:none;}

.yuimenu.show-scrollbars { overflow:visible;}

.yui-skin-sam .yuimenubar > .bd > ul:after { clear:both; content:"."; display:block; height:0; line-height:0; visibility:hidden; }


.yui-skin-sam .yuimenubaritem { float:left;}

.yui-skin-sam .yuimenubarnav .yuimenubaritem { line-height:1.42em; background:url(images/bg-li.gif) no-repeat right 0px;}

.yui-skin-sam .yuimenubaritemlabel { display:block; *position:relative; text-decoration:none; text-align:center; line-height:1.42em; color:#fff; padding:9px 30px 17px 30px; text-transform:uppercase; font-weight:bold;}
.yui-skin-sam .yuimenubaritemlabel-selected, .yui-skin-sam .yuimenubaritem a.active, .yui-skin-sam .yuimenubaritem-hassubmenu-selected{ color:#ece9e9; background:url(images/bg-li-act.gif) repeat-x top;}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel {	font-size:12px !important; line-height:1.42em;}
/** + html .yui-skin-sam .yuimenubarnav .yuimenubaritemlabel { padding:5px 0px 0px 0px; }*/


.yui-skin-sam .yuimenu .bd { left:0; top:0; overflow:hidden; background:url(images/bg-drop.png) no-repeat 0 bottom; width:142px;}
.yui-skin-sam .yuimenu ul { padding:10px 7px 10px 7px;}
.yui-skin-sam .yuimenu li { line-height:28px;}

.yui-skin-sam .yuimenuitemlabel{ font-size:12px; color:#eeeeee; text-decoration:none; padding-left:6px; display:block;}
.yui-skin-sam .yuimenuitemlabel-selected, .yui-skin-sam .bd .yuimenuitem a.active{ color:#260b0b; background:url(images/bg-drop-li.gif) top repeat-x;}


.yui-skin-sam .yuimenu .bd .yuimenu { background:url(images/bg-drop2.png) no-repeat 0 bottom;}
.yui-skin-sam .yuimenu .bd .bd { background:url(images/bg-drop-top.png) no-repeat 0 0; margin-top:-7px;}