.TabMenu2{
	margin:0;
	padding:0;
	font:bold 11px 1.5em Verdana;
}
.TabMenu2 h2{
	font:bold 14px Verdana Arial Helvetica sans-serif;
	color:rgb(0, 0, 0);
	margin:0px;
	padding:0px 0px 0px 15px;
}
.TabMenu2 img{
	border:none;
}
.TabMenu2 .tabs1{
	float:left;
	width:100%;
	background:rgb(244, 247, 251);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(188, 210, 230);
}
.TabMenu2 .tabs1 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs1 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs1 a{
	float:left;
	background:url(tableft1.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs1 a span{
	float:left;
	display:block;
	background:url(tabright1.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(98, 126, 183);
}
.TabMenu2 .tabs1 a span{
	float:none;
}
.TabMenu2 .tabs a:hover span{
	color:rgb(98, 126, 183);
}
.TabMenu2 .tabs1 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs1 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs1 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs1 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs2{
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(132, 119, 107);
}
.TabMenu2 .tabs2 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs2 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs2 a{
	float:left;
	background:url(tableft2.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs2 a span{
	float:left;
	display:block;
	background:url(tabright2.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(132, 119, 107);
}
.TabMenu2 .tabs2 a span{
	float:none;
}
.TabMenu2 .tabs2 a:hover span{
	color:rgb(116, 103, 91);
}
.TabMenu2 .tabs2 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs2 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs2 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs2 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs3{
	float:left;
	width:100%;
	background:rgb(228, 230, 235);
	font-size:93%;
	line-height:normal;
}
.TabMenu2 .tabs3 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs3 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs3 a{
	float:left;
	background:url(tableft3.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs3 a span{
	float:left;
	display:block;
	background:url(tabright3.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs3 a span{
	float:none;
}
.TabMenu2 .tabs3 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs3 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs3 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs3 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs3 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs4{
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(107, 120, 169);
}
.TabMenu2 .tabs4 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs4 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs4 a{
	float:left;
	background:url(tableft4.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 7px;
	text-decoration:none;
}
.TabMenu2 .tabs4 a span{
	float:left;
	display:block;
	background:url(tabright4.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(107, 120, 169);
}
.TabMenu2 .tabs4 a span{
	float:none;
}
.TabMenu2 .tabs4 a:hover span{
	color:rgb(107, 120, 169);
}
.TabMenu2 .tabs4 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs4 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs4 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs4 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs5{
	float:left;
	width:100%;
	background:rgb(227, 236, 243);
	font-size:93%;
	line-height:normal;
}
.TabMenu2 .tabs5 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs5 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs5 a{
	float:left;
	background:url(tableft5.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs5 a span{
	float:left;
	display:block;
	background:url(tabright5.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs5 a span{
	float:none;
}
.TabMenu2 .tabs5 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs5 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs5 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs5 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs5 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs6{
	float:left;
	width:100%;
	background:rgb(239, 239, 239);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(102, 102, 102);
}
.TabMenu2 .tabs6 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs6 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs6 a{
	float:left;
	background:url(tableft6.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs6 a span{
	float:left;
	display:block;
	background:url(tabright6.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs6 a span{
	float:none;
}
.TabMenu2 .tabs6 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs6 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs6 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs6 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs6 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs7{
	float:left;
	width:100%;
	background:rgb(212, 218, 231);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(51, 59, 102);
}
.TabMenu2 .tabs7 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs7 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs7 a{
	float:left;
	background:url(tableft7.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs7 a span{
	float:left;
	display:block;
	background:url(tabright7.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(153, 153, 153);
}
.TabMenu2 .tabs7 a span{
	float:none;
}
.TabMenu2 .tabs7 a:hover span{
	color:rgb(236, 181, 70);
}
.TabMenu2 .tabs7 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs7 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs7 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs7 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs8{
	float:left;
	width:100%;
	background:rgb(252, 241, 246);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(226, 118, 167);
}
.TabMenu2 .tabs8 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs8 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs8 a{
	float:left;
	background:url(tableft8.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs8 a span{
	float:left;
	display:block;
	background:url(tabright8.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(51, 51, 51);
}
.TabMenu2 .tabs8 a span{
	float:none;
}
.TabMenu2 .tabs8 a:hover span{
	color:rgb(89, 19, 51);
}
.TabMenu2 .tabs8 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs8 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs8 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs8 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs9{
	float:left;
	width:100%;
	font-size:93%;
	border-bottom:1px solid rgb(244, 85, 81);
	line-height:normal;
}
.TabMenu2 .tabs9 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs9 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs9 a{
	float:left;
	background:url(tableft9.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs9 a span{
	float:left;
	display:block;
	background:url(tabright9.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs9 a span{
	float:none;
}
.TabMenu2 .tabs9 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs9 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs9 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs9 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs9 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs10{
	float:left;
	width:100%;
	font-size:93%;
	border-bottom:1px solid rgb(39, 99, 165);
	line-height:normal;
}
.TabMenu2 .tabs10 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs10 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs10 a{
	float:left;
	background:url(tableft10.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs10 a span{
	float:left;
	display:block;
	background:url(tabright10.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs10 a span{
	float:none;
}
.TabMenu2 .tabs9 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs10 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs10 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs10 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs10 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs11{
	float:left;
	width:100%;
	background:rgb(249, 247, 243);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(194, 189, 174);
}
.TabMenu2 .tabs11 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs11 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs11 a{
	float:left;
	background:url(tableft11.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs11 a span{
	float:left;
	display:block;
	background:url(tabright11.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(159, 149, 132);
}
.TabMenu2 .tabs11 a span{
	float:none;
}
.TabMenu2 .tabs11 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs11 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs11 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs11 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs11 .current a span{
	background-position:100% -42px;
}
.TabMenu2 .tabs12{
	float:left;
	width:100%;
	background:rgb(249, 247, 243);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(194, 189, 174);
}
.TabMenu2 .tabs12 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu2 .tabs12 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu2 .tabs12 a{
	float:left;
	background:url(tableft12.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu2 .tabs12 a span{
	float:left;
	display:block;
	background:url(tabright12.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(228, 214, 205);
}
.TabMenu2 .tabs12 a span{
	float:none;
}
.TabMenu2 .tabs12 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu2 .tabs12 a:hover{
	background-position:0% -42px;
}
.TabMenu2 .tabs12 a:hover span{
	background-position:100% -42px;
}
.TabMenu2 .tabs12 .current a{
	background-position:0% -42px;
}
.TabMenu2 .tabs12 .current a span{
	background-position:100% -42px;
}
