@charset "utf-8";
/* CSS Document */
body
	{
		margin:0px;
	}
img
	{
		border:0px;
	}
a{outline:none;}
#wraper
	{
		float:left;
		margin:0px;
		padding:0px;
		width:100%;
		background:url(images/bodybg.png) repeat-x top left;
	}
#headerblank
	{
		float:left;
		margin:0px;
		width:100%;
	}
#header
	{
		float:none;
		margin:0px auto;
		width:970px;
		position:relative
	}
#header p.callus
	{
		float:left;
		margin:0px;
		padding:0 24px 0 0;
		width:946px;
		text-align:right;
		height:40px;
		line-height:40px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #a6aebf;
	}
#header p.callus span
	{
		padding:0 15px 0 15px;
	}
#header #headelogobg
	{
		float:left;
		margin:21px 0 0 0;
		padding:0 0 0 37px;
		background:url(images/logobg.png) no-repeat;
		width:933px;
		height:97px;
	}
#header #headelogobg h1
	{
		float:left;
		margin:24px 0 0 0;
		padding:0px;
	}
#header #headelogobg input[type="text"]
	{
		float:left;
		margin:40px 0 0 336px;
		padding:6px 0 0 4px;
		background:url(images/textfieldbg.png) no-repeat;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #787878;
		height:22px;
		width:173px;
		border:0px;
		}
#header #headelogobg input[type="button"]
	{
		float:left;
		margin:40px 0 0 18px;
		background: url(images/submitbutton.png) no-repeat;
		width:73px;
		text-align:center;
		height:28px;
		font-family: Verdana, Geneva, sans-serif;
		font-size:11px;
		font-weight:bold;
		color: #fff;
		cursor:pointer;
		border:0px;
	}
#header ul.navigation
	{
		float:left;
		margin:0px;
		padding:0px;
		background:url(images/navigationbg.png) no-repeat;
		width:970px;
		height:45px;
		display: block;
	}
#header ul.navigation li
	{
		float:left;
		margin:0px;
		padding:0 42px 0 42px;
		height:45px;
		display: block;
		background:url(images/separater.png) no-repeat top left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		color: #fff;
		line-height:45px;
	}
#header ul.navigation li:first-child
	{
		float:left;
		margin:0px;
		padding:0 42px 0 42px;
		height:45px;
		display: block;
		background: none;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		color: #fff;
		line-height:45px;
	}
#header ul.navigation li a
	{
		color: #fff;
		text-decoration:none;
	}
#header ul.navigation li a:hover
	{
		color: #b3eb9e;
		text-decoration:none;
	}	
#header #sliderbg
	{
		float:left;
		margin:0px;
		padding:0 0 0 32px;
		background:url(images/slideshowbg.png) no-repeat;
		width:938px;
		height:282px;
	}
#header #slideshow
	{
		float: left;
		margin:31px 0 0 0;
		padding:5px 22px 5px 23px;
		//background:url(images/sliderbg.png) no-repeat;
		height:224px;
		width:337px;
	}
#header #slideshow ul
	{
		float:left;
		margin:0px;
		padding:0px;
		width:967px;
		display:block;
	}
#header #slideshow ul li
	{
		float:left;
		margin:0px;
		padding:0px;
		width:938px;
		display:block;
	}

	#header #slideshow ul li img
	{
		float:left;
		
	}
/* Easy Slider */

#slider{width:337px; margin:0px; padding:0px ; float:left;}	

#prevBtn, #nextBtn{ 
display:block;
position:absolute;
left:-25px;
top:85px;
display:none;
}	
#nextBtn{ 
left:0px;
display:none;
}														
#prevBtn a, #nextBtn a{  
display:block;
width:34px;
height:34px;
position:absolute;
z-index:200;
left:0px;
top:5px;
text-indent:-9999px;
background: url(images/previous.png)  no-repeat 0 0;	
}	
#nextBtn a{ 
background:  url(images/next.png) no-repeat 0 0;
left:325px;
width:34px;
height:34px;
}
#container{	
margin:0px;
position:relative;
text-align:left;
width:337px;
left:0;
padding:0px;
float:left;
border:0px;

}	
/* // Easy Slider */
#header  h2
	{
		float:left;
		padding:0 0 0 50px;
		width:465px;
		margin:0 0 0 0;
		font-family:Arial, Helvetica, sans-serif;
		font-size:40px;
		font-weight:bold;
		color: #ffffff;
	}
#header p.normalcontent
	{
		float:left;
		margin:11px 0 0 0;
		padding:0 0 0 50px;
		width:465px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:normal;
		line-height:32px;
		color: #ffffff;
	}

	#header p.normalcontent img
	{
		margin-right:8px;
		position:relative;
		top:4px;
	}
#header #services
	{
		float:left;
		margin:0px;
		padding:0 0 0 10px;
		background:url(images/servicesbg.png) no-repeat;
		width:960px;
		height:172px;
	}
#header #services .servicesone
	{
		float:left;
		margin:29px 0 0 0;
		padding:0 0 0 20px;
		width:300px;
	}
#header #services .serviceimg
	{
		float:left;
		padding:0 27px 0 0;
	}
#header #services .servicescontent
	{
		float:left;
		margin:0px;
		padding:0px;
		width:196px;
	}
#header #services .servicescontent h3
	{
		float:left;
		margin:0px;
		padding:0px;
		width: 196px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		color: #fff;
	}
#header #services .servicescontent p
	{
		float:left;
		margin:10px 0 0 0;
		padding:0px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		color: #000000;
		line-height:21px;
		width:196px;
	}
#header #services .servicescontent p a
	{
		float:left;
		color: #935000;
		text-decoration:underline;
	}
#header #services .servicescontent p a:hover
	{
		float:left;
		color: #fff;
		text-decoration:none;
	}
 
em.ttip {
background:url(images/bubble.png) no-repeat;
width: 112px;
height: 56px;
position: absolute;
top: -70px;
left: 40px;
text-align: center;
text-indent:0px;
z-index: 2;
display: none;
line-height:70px;
color:#4e4e4e;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
 
.text_container{
		float:left;
		width:500px;
}
.coolButton{
	background:transparent url(images/subscribe.png) no-repeat scroll 0 0;
	border:0 none;
	color:#FFFFFF;
	cursor:pointer;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:32px;
	line-height:28px;
	margin:12px 0 0 22px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:90px;
	float:right;
}

.coolButton img{
	position:relative;
	top:3px;
}
.paginator{
	float:right;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:0;
margin-right:30px;
}

.paginator li{
	float :left;
	padding: 0 2px;
}

.paginator li a{
	color:#18397C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:normal;
	margin:0;
	padding:0;
	line-height:10px;
	text-decoration:none;
	line-height:22px;
}

.paginator li a img{
	position:relative;
	top: 3px;
}
.images_container img{
border:solid silver;
height:190px;
margin:10px 3px 0;
width:190px;
}

.banner_container{
	height: 525px;
	overflow:auto;
	clear :both;
	
}

.banner_container img{
	margin: 10px 5px 0px 5px;
	width: 584px;
	height :70px;
	border:solid silver;
}

.welcomecontent h5{
	color:#18397C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	font-weight:normal;
	margin:0;
	padding:0;
	line-height:40px;
}
#logo {
width:auto;
height: 42px;
text-indent:0px;
margin: 0 auto;
display: block;
}
#bodycontentblank
	{
		float:left;
		margin:0px;
		padding:0px;
		width:100%;
	}
#bodycontent
	{
		float:none;
		margin:0px auto;
		padding:0px;
		width:950px;
	}
#bodyleftcontent
	{
		float:left;
		margin:20px 0 0 0;
		padding:0px;
		width:614px;
	}
#bodyleftcontent .welcomecontent
	{
		float:left;
		margin:0px;
		padding:0 0 31px 0;
		width:614px;
	}
#bodyleftcontent .welcomecontent h4
	{
		float:left;
		margin:0px;
		padding:0px;
		width:614px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:21px;
		font-weight:bold;
		color: #18397c;
	}
#bodyleftcontent .welcomecontent p.normalcontent
	{
		float:left;
		margin:20px 0 0 0;
		padding:0px;
		width:614px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		color: #636363;
		line-height:21px;
	}
#bodyleftcontent .welcomecontent p.contactaddress
	{
		float:left;
		margin:20px 0 0 0;
		padding:0px;
		width:307px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		color: #636363;
		line-height:21px;
	}
#bodyleftcontent .welcomecontent p.normalcontent img
	{
		float:left;
		padding:0 25px 0 0;
	}
#bodyleftcontent .welcomecontent p.readmore
	{
		float:left;
		margin:23px 0 0 0;
		padding:0 0 0 10px;
		width:604px;
		background:url(images/readmore.png) repeat-x;
		height:21px;
	}
#bodyleftcontent .welcomecontent p.readmore a
	{
		float:left;
		width:67px;
		height:21px;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #686868;
		text-decoration:none;
		line-height:21px;
		background: #d4d4d4;
	}
#bodyleftcontent .ourclients
	{
		float:left;
		margin:0px;
		padding:20px 0px 20px 20px;
		border:18px solid #e3e3e3;
		width:558px;
		background: #fff;
	}
#bodyleftcontent .ourclients img
	{
		float:left;
		padding:0 35px 0 0;
	}
#bodyrightcontent
	{
		float:left;
		padding:0 0 0 46px;
		width:290px;
		margin:20px 0 0 0;
	}
#bodyrightcontent #emailaddress
	{
		float:left;
		border:1px solid #005b44;
		background:url(images/emailaddressbg.png) repeat-x top left #097257;
		width:288px;
		padding:0 0 13px 0;
		margin:0 0 20px;
	}
#bodyrightcontent #emailaddress h5
	{
		float:left;
		margin:0px;
		padding:0 0 0 22px;
		width:266px;
		height:36px;
		background:url(images/emailheadingbg.png) repeat-y;
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		color: #fff;
		line-height:36px;
	}
#bodyrightcontent #emailaddress label
	{
		float:left;
		margin:13px 0 0 0;
		padding:0 0 0 22px;
		width:266px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		color: #fff;
	}
#bodyrightcontent #emailaddress input
	{
		float:left;
		margin:12px 0 0 22px;
		background:url(images/input.png) no-repeat;
		padding:9px 0 0 12px;
		height:22px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		color: #616161;
		width:227px;
		border:0px;
	}
#bodyrightcontent #emailaddress a
	{
		float:left;
		margin:12px 0 0 22px;
		width:90px;
		height:32px;
		background: url(images/subscribe.png) no-repeat;
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color: #fff;
		cursor:pointer;
		border:0px;
		padding:0px;
		line-height:28px;
		text-decoration:none;
		text-align:center;
	}
#whatclientsays
	{
		float:left;
		margin:20px 0 0 0;
		padding:0 0 23px 0;
		border:1px solid #cfcfcf;
		background:url(images/whatclientsays.png) repeat-x top left #e0e0e0;
		width:288px;
	}
#whatclientsays h5
	{
		float:left;
		background:url(images/whatclientsaysheading.png) repeat-y;
		margin:0px;
		padding:0 0 0 22px;
		width:266px;
		height:36px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		color: #18397c;
		line-height:36px;
	}
#whatclientsays blockquote
	{
		float:left;
		margin:19px 0 0 22px;
		width:242px;
		padding:0px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		line-height:21px;
		color: #363636;
	}
#whatclientsays blockquote img
	{
		float:left;
	}
#whatclientsays blockquote span
	{
		float:left;
		margin:18px 0 0 0;
		padding:12px 0 0 0;
		border-top:1px solid #bbbbbb;
		width:242px;
		font-size:11px;
		font-weight:bold;
		font-style:italic;
		color: #8a8a8a;
	}
#whychooseus
	{
		float:left;
		
		padding:0 0 6px 0;
		border:1px solid #d6b066;
		background:url(images/whychooseus.png) repeat-x  top left #ebc881;
		width:288px;
	}
#whychooseus h5
	{
		float:left;
		background: url(images/whychooseusbg.png) repeat-y;
		margin:0px;
		padding:0 0 0 22px;
		width:266px;
		height:36px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		color: #000000;
		line-height:36px;
	}
#whychooseus ul
	{
		float:left;
		margin:19px 0 0 0;
		padding:0 0 0 22px;
		width:266px;
		display: block;
	}
#whychooseus ul li
	{
		float:left;
		margin:0px;
		padding:0 0 0 23px;
		width:243px;
		display: block;
		background:url(images/whychooseusicon.png) no-repeat;
		height:29px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		color: #363636;
	}
#whychooseus ul li a
	{
		color: #363636;
		text-decoration:none;
	}
#whychooseus ul li a:hover
	{
		color: #000000;
		text-decoration: underline;
		font-weight:bold;
	}
#footerblank
	{
		float:left;
		margin:26px 0 0 0;
		padding:0 0 26px 0;
		width:100%;
		background:url(images/footerbg.png) repeat-x top left #e3e3e3;
	}
#footer
	{
		float:none;
		margin:0px auto;
		width:950px;
	}
#footer p
	{
		float:left;
		margin:26px 0 0 0; 
		padding:0px;
		width:700px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #636363;
	}
#footer p a
	{
		color: #636363;
		font-weight:bold;
		text-decoration:underline;
	}
#footer ul
	{
		float:left;
		margin:26px 0 0 0;
		padding:0px;
		display:block;
		width:248px;
	}
#footer ul li
	{
		float:left;
		margin:0px;
		padding:0px;
		display:block;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #636363;
	}
#footer ul li a
	{
		color: #636363;
		text-decoration:none;
	}
#footer ul li a:hover
	{
		color: #636363;
		text-decoration: underline;
	}
#footer ul li span
	{
		padding:0 2px 0 2px;
	}
#bodyleftcontent .welcomecontent ul#blog
	{
		float:left; 
		margin:20px 0 0 0; 
		padding:0px; 
		width:614px; 
		display:block; 
	}
#bodyleftcontent .welcomecontent ul#blog li
	{
		float:left; 
		margin:0px; 
		padding:0 0 23px 0; 
		width:614px; 
		display:block;
	}
#bodyleftcontent .welcomecontent ul#blog li h4
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:21px;
		font-weight:normal;
		color: #18397c;
		margin:0px; 
		padding:0px; 
		float:left; 
		width:614px; 
	}
#bodyleftcontent .welcomecontent ul#blog li img
	{
		float:left; 
		margin:15px 0 10px 0; 
		padding:2px; 
		border:1px solid #cacaca;
	}
#bodyleftcontent .welcomecontent ul#blog li p
	{
		margin:10px 0 0 0; 
		float:left; 
		font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;
		line-height:21px; 
		color: #636363; 
		padding:0px; 
		width:614px; 
	}
#bodyleftcontent .welcomecontent ul#blog li a
	{
		float:left;
		width:67px;
		height:21px;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #686868;
		text-decoration:none;
		line-height:21px;
		background: #d4d4d4;
		margin:20px 0 0 0
	}
#bodyleftcontent .welcomecontent ul#blog li a:hover
	{
		float:left;
		width:67px;
		height:21px;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color: #686868;
		text-decoration:none;
		line-height:21px;
		background: #d4d4d4;
		margin:20px 0 0 0
	}
#bodyleftcontent .welcomecontent ul#sitemap
	{
		float:left; 
		margin:20px 0 0 0; 
		padding:0px; 
		width:520px;
		display:block; 
	}
#bodyleftcontent .welcomecontent ul#sitemap li
	{
		float:left;
		margin:0px;
		padding:0 0 10px 16px; 
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal; 
		width:500px; 
		color:#696969;
		background:url(images/sitemapicon.png) no-repeat; 
		display:block
	}
#bodyleftcontent .welcomecontent ul#sitemap li a
	{
		text-decoration:none;
		color: #636363;
	}
#bodyleftcontent .welcomecontent ul#sitemap li a:hover
	{
		text-decoration: underline;
		color: #18397c;
	}
	
	
	
	
	.UserInfo input{
		clear: both;
		width: 300px;
		float: left;
	    font-family: Arial,Helvetica,sans-serif;
	    font-size: 12px;
	    font-weight: normal;
	    height: 22px;
	    margin: 12px 0 0 22px;
	    width: 300px;
	}