.TabMenu6{
	margin:0;
	padding:0;
	font:bold 11px 1.5em Verdana;
}
.TabMenu6 h2{
	font:bold 14px Verdana Arial Helvetica sans-serif;
	color:rgb(0, 0, 0);
	margin:0px;
	padding:0px 0px 0px 15px;
}
.TabMenu6 img{
	border:none;
}
.TabMenu6 .tabs6{
	float:left;
	width:100%;
	background:rgb(239, 239, 239);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(102, 102, 102);
}
.TabMenu6 .tabs6 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu6 .tabs6 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu6 .tabs6 a{
	float:left;
	background:url(tableft6.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu6 .tabs6 a span{
	float:left;
	display:block;
	background:url(tabright6.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu6 .tabs6 a span{
	float:none;
}
.TabMenu6 .tabs6 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu6 .tabs6 a:hover{
	background-position:0% -42px;
}
.TabMenu6 .tabs6 a:hover span{
	background-position:100% -42px;
}
.TabMenu6 .tabs6 .current a{
	background-position:0% -42px;
}
.TabMenu6 .tabs6 .current a span{
	background-position:100% -42px;
}
