.TabMenuJ{
	margin:0;
	padding:0;
	font:bold 11px 1.5em Verdana;
}
.TabMenuJ h2{
	font:bold 14px Verdana Arial Helvetica sans-serif;
	color:rgb(0, 0, 0);
	margin:0px;
	padding:0px 0px 0px 15px;
}
.TabMenuJ .tabsJ{
	float:left;
	width:100%;
	background:rgb(244, 244, 244);
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(36, 97, 142);
}
.TabMenuJ .tabsJ ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenuJ .tabsJ li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenuJ .tabsJ a{
	float:left;
	background:url(tableftJ.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	text-decoration:none;
}
.TabMenuJ .tabsJ a span{
	float:left;
	display:block;
	background:url(tabrightJ.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(36, 97, 142);
}
.TabMenuJ .tabsJ a span{
	float:none;
}
.TabMenuJ .tabsJ a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenuJ .tabsJ a:hover{
	background-position:0% -42px;
}
.TabMenuJ .tabsJ a:hover span{
	background-position:100% -42px;
}
.TabMenuJ .tabsJ .current a{
	background-position:0% -42px;
}
.TabMenuJ .tabsJ .current a span{
	background-position:100% -42px;
	color:rgb(255, 255, 255);
}
