.menu7 h2 {
        font: bold 14px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

.menu7 img {
border: none;
}


.menu7 {
      float:left;
      width:100%;
      font-size:93%;
          border-bottom:1px solid #2763A5;
      line-height:normal;
      }
   .menu7 ul {
          margin:0;
          padding:10px 10px 0 50px;
          list-style:none;
      }
   .menu7 li {
      display:inline;
      margin:0;
      padding:0;
      }
   .menu7 a {
      float:left;
      background:url("youdo/images/menu/Menu-CSStab designer/menu7/tableft10.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
   .menu7 a span {
      float:left;
      display:block;
      background:url("youdo/images/menu/Menu-CSStab designer/menu7/tabright10.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
   .menu7 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs9 a:hover span {
      color:#FFF;
      }
   .menu7 a:hover {
      background-position:0% -42px;
      }
   .menu7 a:hover span {
      background-position:100% -42px;
      }

     .menu7 #current a {
              background-position:0% -42px;
      }
     .menu7 #current a span {
              background-position:100% -42px;
      }



.menu9 {
	float: left;
	width: 100%;
	font-size: 93%;
	border-bottom: 1px solid #F45551;
	line-height: normal;
}

.menu9 ul {
	margin: 0;
	padding: 10px 10px 0 50px;
	list-style: none;
}

.menu9 li {
	display: inline;
	margin: 0;
	padding: 0;
}

.menu9 a {
	float: left;
	background:
		url("youdo/images/menu/Menu-CSStab designer/menu2/tableft9.gif")
		no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
}

.menu9 a span {
	float: left;
	display: block;
	background:
		url("youdo/images/menu/Menu-CSStab designer/menu2/tabright9.gif")
		no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #FFF;
}

.menu9 a span {
	float: none;
}

.menu9 a:hover span {
	color: #FFF;
}

.menu9 a:hover {
	background-position: 0% -42px;
}

.menu9 a:hover span {
	background-position: 100% -42px;
}
/***********************************/


