.TabMenu10{
	margin:0;
	padding:0;
	font:bold 11px 1.5em Verdana;
}
.TabMenu10 h2{
	font:bold 14px Verdana Arial Helvetica sans-serif;
	color:rgb(0, 0, 0);
	margin:0px;
	padding:0px 0px 0px 15px;
}
.TabMenu10 img{
	border:none;
}
.TabMenu10 .tabs10{
	float:left;
	width:100%;
	font-size:93%;
	border-bottom:1px solid rgb(39, 99, 165);
	line-height:normal;
}
.TabMenu10 .tabs10 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu10 .tabs10 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu10 .tabs10 a{
	float:left;
	background:url(tableft10.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}
.TabMenu10 .tabs10 a span{
	float:left;
	display:block;
	background:url(tabright10.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(255, 255, 255);
}
.TabMenu10 .tabs10 a span{
	float:none;
}
.TabMenu10 .tabs9 a:hover span{
	color:rgb(255, 255, 255);
}
.TabMenu10 .tabs10 a:hover{
	background-position:0% -42px;
}
.TabMenu10 .tabs10 a:hover span{
	background-position:100% -42px;
}
.TabMenu10 .tabs10 .current a{
	background-position:0% -42px;
}
.TabMenu10 .tabs10 .current a span{
	background-position:100% -42px;
}
