.TabMenu4{
	margin:0;
	padding:0;
	font:bold 11px 1.5em Verdana;
}
.TabMenu4 h2{
	font:bold 14px Verdana Arial Helvetica sans-serif;
	color:rgb(0, 0, 0);
	margin:0px;
	padding:0px 0px 0px 15px;
}
.TabMenu4 img{
	border:none;
}
.TabMenu4 .tabs4{
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid rgb(107, 120, 169);
}
.TabMenu4 .tabs4 ul{
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}
.TabMenu4 .tabs4 li{
	display:inline;
	margin:0;
	padding:0;
}
.TabMenu4 .tabs4 a{
	float:left;
	background:url(tableft4.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 7px;
	text-decoration:none;
}
.TabMenu4 .tabs4 a span{
	float:left;
	display:block;
	background:url(tabright4.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:rgb(107, 120, 169);
}
.TabMenu4 .tabs4 a span{
	float:none;
}
.TabMenu4 .tabs4 a:hover span{
	color:rgb(107, 120, 169);
}
.TabMenu4 .tabs4 a:hover{
	background-position:0% -42px;
}
.TabMenu4 .tabs4 a:hover span{
	background-position:100% -42px;
}
.TabMenu4 .tabs4 .current a{
	background-position:0% -42px;
}
.TabMenu4 .tabs4 .current a span{
	background-position:100% -42px;
}
